
.contSuper{
    padding-top: 20px;
}
/* Adjust button positioning */
.boton {
    margin-left: 10px;
}

/* Adjust heading margins */

/* Divider column for spacing */

/* Divider line styling */

/* Options alignment */
.pregTrans-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espaciado entre preguntas */
}

.pregTrans-label {
    flex: 1; /* Expande la etiqueta de la pregunta para ocupar el espacio disponible */
    margin-right: 15px;
}

.opcionesTrans {
    display: flex;
    gap: 10px; /* Espaciado entre las opciones de Si y No */
}

.opcionTrans {
    display: flex;
    align-items: center;
}


