.boton {
    margin-left: 10px;
}

.conTrab{
    height: 750px;
}

.cardInfoTrab{
    height: 750px;
}

#fullName, #address, #phone, #email, #especialidad {
    font-size: 1.1rem;
    color: #666; /* Texto más suave para la información */
    font-weight: 400; /* Normal weight para la información */
    margin-bottom: 10px;
}

#fullName, #address, #phone, #email, #especialidad {
    display: block;
    padding: 5px 0; /* Espaciado vertical */
}

label {
    font-weight: bold; /* Negrita solo para los títulos */
    color: #333; /* Títulos en un color más fuerte */
    margin-bottom: 5px;
    display: block; /* Asegura que cada título esté en su propia línea */
}